@import '../../../styles/colors';
@import '../../../styles/fonts';

$nav-padding: 300px;

.Nav {
  top: 0;
  display: inline-block;
  width: 100%;
  height: 75px;
  // background-color: $accent-color;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.NavRight {
  //vertical align
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  padding-right: $nav-padding;
}

a {
   outline: 0;
}

.NavLeft {
  //vertical align
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  float: left;
  padding-left: $nav-padding;
  a {
    // font-family: $title-font;
    color: $title-color;
    font-size:30px;
    padding-bottom: 10px;
    text-decoration: none;
    &:hover{
      cursor: pointer;
    }
  }
}

.NavBtn {
  //padding-left: 30px;
  font-family: $body-font;
  font-size: 15px;
  font-weight: bold;
  margin: 15px;
}

span.NavBtn {
  color: $accent-color;
}

button.NavBtn {
  background-color: white;
  border: none;
  color: $accent-color;
  &:hover{
    transition: 0.5s ease;
    border-bottom: solid 1px $accent-color;
    cursor: pointer;
  }
}

a.NavBtn {
  padding-bottom: 3px;
  text-decoration: none;
  color: $accent-color;
  letter-spacing: 2px;
  transition: 0.5s ease;
  &:hover{
    transition: 0.5s ease;
    border-bottom: solid 1px $accent-color;
  }
}
