@import '../../../styles/colors';
@import '../../../styles/fonts';

.Nav {
  top: 0;
  display: inline-block;
  width: 100%;
  height: 75px;
  background-color: $accent-color;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.NavRight {
  //vertical align
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  padding-right: 50px;
}

a {
   outline: 0;
}

.NavLeft {
  //vertical align
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  float: left;
  padding-left: 50px;
  span {
    font-family: $title-font;
    color: $title-color;
    font-size:50px;
    padding-bottom: 10px
  }
}

.NavBtn {
  //padding-left: 30px;
  font-family: $body-font;
  font-size: 15px;
  font-weight: bold;
  margin: 15px;
}

span.NavBtn {
  color: white;
}



a.NavBtn{
  padding-bottom: 3px;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  transition: 0.5s ease;
  &:hover{
    transition: 0.5s ease;
    border-bottom: solid 1px #ffffff;
  }
}
